<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="jp" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" lang="jp">
<head>

  <title></title>
  <meta name="author" lang="ja" content="">
  <meta name="copyright" lang="ja" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="canonical" href="">

  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="imagetoolbar" content="no">

  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />
  <meta property="fb:admins" content="" />

  <link rel="shortcut icon" href="/favicon.ico">

  <link href="./stylesheets/styles.css" rel="stylesheet" />

  <script type="text/javascript" src="./javascripts/scripts.min.js"></script>

</head>
<body>

  <div class="topbar">
    <div class="topbar__inner">
      <h1 class="topbar__title">Spuit <span>by sass mixins libraly</span></h1>
      <ul class="topbar__lists js-dropdown-content">
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/is8r/spuit" target="_blank">repository</a></li>
        <li class="topbar__pulldown pulldown">
          <a href="#">Author</a>
          <ul class="pulldown__content">
            <li><a href="https://twitter.com/is8r_" target="_blank">Twitter</a></li>
            <li><a href="https://github.com/is8r" target="_blank">Github</a></li>
          </ul>
        </li>
      </ul>
      <span class="topbar__trigger-icon js-dropdown-trigger"></span>
    </div>
  </div>

  <div class="l-container">
    <div class="l-container__inner">

      <div class="content js-tmplore-output">
      </div>

      <div class="sidebar">
        <h3 class="meta">modules</h3>
        <hr />
        <ul class="sidebar__lists js-tmplore-navigation">
          <li><a href="#" data-src="template/_body.html">template/_body</a></li>
          <li><a href="#" data-src="template/_table.html">template/_table</a></li>
          <li><a href="#" data-src="template/_form.html">template/_form</a></li>
          <li><a href="#" data-src="template/_sassmaps.html">template/_sassmaps</a></li>
          <li><a href="#" data-src="template/_elements.html">template/_elements</a></li>
          <li><a href="#" data-src="template/_chat.html">template/_chat</a></li>
          <li><a href="#" data-src="template/_split.html">template/_split</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="footer__inner">
      <span class="footer__copyright">copyright xxx</span>
    </div>
  </div>

</body>
</html>


