.topbar
  $boder: 1px solid #eee

  &
    +clearfix
    z-index: 999
    background: #fff
    border-bottom: $boder
    height: 70px
    .navbar-collapse,
    .navbar-toggle
      padding: 0
      border: none
    +media('mobile')
      height: auto
      margin-left: -15px
      margin-right: -15px

  &__title
    +font-en(30px)
    +inline-block
    float: left
    padding: 16px 10px 10px 0
    color: $color-def
    text-decoration: none
    &:hover
      color: $color-def
      text-decoration: none
    +media('mobile')
      +font-en(22px)
      float: none
      position: relative
      padding: 10px 10px
    > span
      +font-en(12px)
      text-transform: none
      +media('mobile')
        +font-en(10px)

  &__lists
    float: right
    +media('mobile')
      position: relative
      float: none
      margin-top: 0
    > li
      +inline-block
      +media('mobile')
        display: block
        border-top: $boder
      > a
        +border-box
        +font-en(12px)
        text-transform: uppercase
        display: block
        padding: 0 10px
        height: 70px
        line-height: 70px
        color: #000
        text-decoration: none
        +media('mobile')
          +font-en(12px)
          padding: 8px 10px
          height: auto
          line-height: 1em
        &:hover
          color: $color-accent
        &.is-current
          +button-disabled
          border-bottom: 2px solid $color-accent
          +media('mobile')
            border-bottom: none
            border-left: 2px solid $color-accent

  &__toggle
    +media('mobile')
      position: absolute
      top: 4px
      right: 0
      z-index: 999
      cursor: pointer
