.topbar
  $boder: 1px solid #eee

  +clearfix
  z-index: 999
  background: #fff
  border-bottom: $boder
  height: 70px
  +media('mobile')
    height: auto

  @at-root
    #{&}__title
      +font-en(30px)
      float: left
      padding: 16px 10px 10px 0
      > span
        +font-en(12px)
        text-transform: none
      +media('mobile')
        +font-en(12px)
        float: none
        position: relative
        padding: 20px 10px 22px 10px
        > span
          +font-en(10px)

    #{&}__lists
      float: right
      margin-top: 15px
      > li
        +inline-block
        > a
          +font-en(12px)
          text-transform: uppercase
          display: block
          padding: 14px 10px
          color: #000
          text-decoration: none
      +media('mobile')
        position: relative
        float: none
        margin-top: 0
        > li
          display: block
          border-top: $boder
          > a
            +font-en(12px)
            padding: 8px 10px

    #{&}__trigger-icon
      +disc-flat('\f0c9', 30px, 10px, $color-accent)
      position: absolute
      top: 4px
      right: 0
      cursor: pointer
      &.is-disable
        display: none
      &.is-open
        &:before
          +rotate(90deg)
      +media('mobile')
        top: 12px
        right: 10px

