<!-- .body -->
<section>
  <h3 class="meta">vendor/spuit/modules/_body</h3>
  <hr />
  <div class="sample-body">
    <h1>タイトルサンプル</h1>
    <h2>タイトルサンプル</h2>
    <h3>タイトルサンプル</h3>
    <h4>タイトルサンプル</h4>
    <h5>タイトルサンプル</h5>
    <p>テキストが入ります。
      <b>テキストが入ります。</b>
      <i>テキストが入ります。</i>
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <ul>
      <li>リスト</li>
      <li>リスト</li>
      <li>リスト</li>
    </ul>
  </div>
</section>
<!-- /.body -->