<!-- .xxx -->
<section>
  <h3 class="meta">sample-split</h3>
  <hr />
  <div class="sample-cards">
    <ul class="cards5">
      <li class="cards5__item">xxx</li>
      <li class="cards5__item">xxx</li>
      <li class="cards5__item">xxx</li>
      <li class="cards5__item">xxx</li>
      <li class="cards5__item">xxx</li>
      <li class="cards5__item">xxx</li>
      <li class="cards5__item">xxx</li>
      <li class="cards5__item">xxx</li>
      <li class="cards5__item">xxx</li>
      <li class="cards5__item">xxx</li>
    </ul>
    <ul class="cards4">
      <li class="cards4__item">xxx</li>
      <li class="cards4__item">xxx</li>
      <li class="cards4__item">xxx</li>
      <li class="cards4__item">xxx</li>
      <li class="cards4__item">xxx</li>
      <li class="cards4__item">xxx</li>
      <li class="cards4__item">xxx</li>
      <li class="cards4__item">xxx</li>
    </ul>
    <ul class="cards3">
      <li class="cards3__item">xxx</li>
      <li class="cards3__item">xxx</li>
      <li class="cards3__item">xxx</li>
      <li class="cards3__item">xxx</li>
      <li class="cards3__item">xxx</li>
      <li class="cards3__item">xxx</li>
      <li class="cards3__item">xxx</li>
      <li class="cards3__item">xxx</li>
      <li class="cards3__item">xxx</li>
    </ul>
  </div>
</section>
<!-- /.xxx -->
