<!-- .body -->
<section>
  <h3 class="meta">vendor/spuit/helper/_button</h3>
  <hr />
  <div class="sample-elements">
    <ul>
      <li>
        <a href="#" class="button">button</a>
      </li>
      <li>
        <a href="#" class="button-semiflat">button-semiflat</a>
      </li>
      <li>
        <a href="#" class="button-border">button-borer</a>
      </li>
      <li>
        <a href="#" class="button-emboss">button-emboss</a>
      </li>
      <li>
        <a href="#" class="button-icon">button-icon</a>
      </li>
    </ul>
  </div>

  <div class="mt40"></div>
  <h3 class="meta">vendor/spuit/helper/_icon</h3>
  <hr />
  <div class="sample-elements">
    <ul>
      <li>
        <i class="disc-flat"></i>
      </li>
      <li>
        <i class="disc-semiflat"></i>
      </li>
      <li>
        <i class="disc-border"></i>
      </li>
    </ul>
  </div>

  <div class="mt40"></div>
  <h3 class="meta">form items</h3>
  <hr />
  <div class="sample-elements">
    <ul>
      <li>
        <input id="field-text" type="text" value="" size="8" placeholder="お名前" class="input" />
      </li>
      <li>
        <div class="select">
          <select id="field-select">
            <option value="First Choice">First ChoiceFirst Choice</option>
            <option value="Second Choice">Second Choice</option>
            <option value="Third Choice">Third Choice</option>
          </select>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- /.body -->