<!-- .body -->
<section>
  <h3 class="meta">vendor/spuit/helper/_button</h3>
  <hr />
  <div class="sample-elements">
    <ul>
      <li>
        <a href="#" class="button">button</a>
      </li>
      <li>
        <a href="#" class="button-semiflat">button-semiflat</a>
      </li>
      <li>
        <a href="#" class="button-border">button-semiflat</a>
      </li>
      <li>
        <a href="#" class="button-emboss">button-emboss</a>
      </li>
      <li>
        <a href="#" class="button-icon">button-icon</a>
      </li>
    </ul>
  </div>

  <div class="mt40"></div>
  <h3 class="meta">vendor/spuit/helper/_icon</h3>
  <hr />
  <div class="sample-elements">
    <ul>
      <li>
        <i class="icon-disc"></i>
      </li>
      <li>
        <i class="icon-semiflat"></i>
      </li>
      <li>
        <i class="icon-border"></i>
      </li>
    </ul>
  </div>
</section>
<!-- /.body -->