<!-- .xxx -->
<section>
  <h3 class="meta">sample-split</h3>
  <hr />
  <div class="sample-grids">

    <div class="grids is-debug">
      <div class="grids__row">

        <div class="grids__item w6">
          <div class="grids">
            <div class="grids__row">
              <div class="grids__item w4">
                xxx
              </div>
              <div class="grids__item w4">
                xxx
              </div>
              <div class="grids__item w4">
                xxx
              </div>
            </div>
          </div>
        </div>
        <div class="grids__item w6">xxx</div>

        <!-- cで区切るかrowで囲う -->
        <div class="c grids__item w4">xxx</div>
        <div class="grids__item w4">xxx</div>
        <div class="grids__item w4">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
        <div class="grids__item">xxx</div>
      </div>
    </div>
  </div>
</section>
<!-- /.xxx -->
