<!-- .table -->
<section>
  <h3 class="meta">vendor/spuit/modules/_body</h3>
  <hr />
  <div class="sample-table">

    <table class="sample-table__frame">
      <thead>
        <tr>
          <th>aa</th>
          <th>aa</th>
          <th>aa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
      </tbody>
    </table>

    <div class="mt40"></div>
    <table class="sample-table__line">
      <thead>
        <tr>
          <th>aa</th>
          <th>aa</th>
          <th>aa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
      </tbody>
    </table>

    <div class="mt40"></div>
    <table class="sample-table__stripe">
      <thead>
        <tr>
          <th>aa</th>
          <th>aa</th>
          <th>aa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
      </tbody>
    </table>

    <div class="mt40"></div>
    <table class="sample-table__stacktable js-table-responsive">
      <thead>
        <tr>
          <th></th>
          <th>上タイトル</th>
          <th>上タイトル</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>左タイトル</td>
          <td>内容</td>
          <td>内容</td>
        </tr>
        <tr>
          <td>左タイトル</td>
          <td>内容</td>
          <td>内容</td>
        </tr>
        <tr>
          <td>左タイトル</td>
          <td>内容</td>
          <td>内容</td>
        </tr>
        <tr>
          <td>左タイトル</td>
          <td>内容</td>
          <td>内容</td>
        </tr>
      </tbody>
    </table>


  </section>
</section>
<!-- /.table -->