// font
=font($size: 1em, $line-height: normal, $weight: normal, $family: 'sans')
  font-family: 'Open Sans', $sans
  font-size: $size
  font-weight: $weight
  line-height: $line-height

=font-en($size: 1em, $line-height: normal, $weight: normal, $family: 'sans')
  font-family: 'Montserrat', $sans
  font-size: $size
  font-weight: $weight
  line-height: $line-height


