// site property
$color-def: #222
$color-black: #111
$color-gray: #ddd

$color-accent: #529ef6
$color-select: #fefef3

$border-color: #eee
$border-line: solid 1px $border-color

$contents-width: 960px
$break-point: 640px

// imports
+import-opensans
+import-montserrat
+import-fa

+animation-patterns
+margin-set

+selection(#111, #fdfdc1)
