<!-- formparts -->
<section>
  <h3 class="meta">formparts</h3>
  <hr />
  <div class="sample-form">
    <ul>
      <li>
        <input id="field-text" type="text" value="" size="8" placeholder="お名前" class="form-input" />
      </li>
      <li>
        <div class="form-select">
          <select id="field-select">
            <option value="First Choice">First ChoiceFirst Choice</option>
            <option value="Second Choice">Second Choice</option>
            <option value="Third Choice">Third Choice</option>
          </select>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- /formparts -->
