<a id="form"></a>
<section>
  <h3 class="meta">form</h3>
  <hr />
  <div class="sample-form">
    <ul>
      <li>
        <input id="field-text" type="text" value="" size="8" placeholder="お名前" class="form-input" />
      </li>
      <li>
        <div class="form-select">
          <select id="field-select">
            <option value="First Choice">First ChoiceFirst Choice</option>
            <option value="Second Choice">Second Choice</option>
            <option value="Third Choice">Third Choice</option>
          </select>
        </div>
      </li>
      <li>
        <textarea id="field-textarea" spellcheck="true" rows="10" cols="50" placeholder="お問い合わせ内容を入力下さい" class="form-textarea"></textarea>
      </li>
    </ul>
  </div>
</section>