<a id="h"></a>
<section>
  <h3 class="meta">h</h3>
  <hr />
  <div class="sample-h">
    <h1 class="h-border-horizon">h-border-horizon</h1>
    <h1 class="h-border-horizon-right">h-border-horizon-right</h1>

    <h1 class="h-shoulder">
      <span class="shoulder">
        <ul>
          <li><a href="#">shoulder</a></li>
          <li><a href="#">shoulder</a></li>
        </ul>
      </span>
      h-shoulderh-shoulderh-shoulderh-shoulderh-shoulderh-shoulderh-shoulderh-shoulder
    </h1>
  </div>
</section>