<a id="icons"></a>
<section>
  <h3 class="meta">icons</h3>
  <hr />
  <div class="sample-icons">
    <ul>
      <li>
        <i class="disc-flat"></i>
      </li>
      <li>
        <i class="disc-semiflat"></i>
      </li>
      <li>
        <i class="disc-border"></i>
      </li>
      <li>
        <i class="icon icon-ps"></i>
      </li>
      <li>
        <i class="icon icon-ai"></i>
      </li>
      <li>
        <i class="icon icon-fl"></i>
      </li>
      <li>
        <i class="icon-img"></i>
      </li>
    </ul>
  </div>
</section>