<a id="table"></a>
<section>
  <h3 class="meta">table</h3>
  <hr />
  <div class="sample-table">

    <table class="table--frame">
      <thead>
        <tr>
          <th>aa</th>
          <th>aa</th>
          <th>aa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
      </tbody>
    </table>

    <div class="mt40"></div>
    <table class="table--line">
      <thead>
        <tr>
          <th>aa</th>
          <th>aa</th>
          <th>aa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
      </tbody>
    </table>

    <div class="mt40"></div>
    <table class="table--stripe">
      <thead>
        <tr>
          <th>aa</th>
          <th>aa</th>
          <th>aa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
        <tr>
          <td>aa</td>
          <td>aa</td>
          <td>aa</td>
        </tr>
      </tbody>
    </table>

  </section>
</section>
