<a id="button"></a>
<section>
  <h3 class="meta">button</h3>
  <hr />
  <div class="sample-button">
    <ul>
      <li>
        <a href="#" class="button-flat">button</a>
      </li>
      <li>
        <a href="#" class="button-semiflat">button-semiflat</a>
      </li>
      <li>
        <a href="#" class="button-border">button-borer</a>
      </li>
      <li>
        <a href="#" class="button-emboss">button-emboss</a>
      </li>
      <li class="c">
        <a href="#" class="button-icon">button-icon</a>
      </li>
      <li>
        <a href="#" class="button-icon-replace">button-icon-replace</a>
      </li>
    </ul>
  </div>
</section>