<a id="link"></a>
<section>
  <h3 class="meta">link</h3>
  <hr />
  <div class="sample-link">
    <i class="img-icon"></i>
    <a href="#" class="link-img-icon">link-img-icon</a>
    <a href="#" class="link-border">link-border</a>
    <a href="#" class="link-color">link-color</a>
    <a href="#" class="link-underline">link-underline</a>
    <a href="#" class="link-underline-alt">link-underline-alt</a>
    <a href="#" class="link-opacity">link-opacity</a>
    <a href="#" class="link-arrow">link-arrow</a>
  </div>
</section>